<?xml version="1.0"?>
<model>
  <name>TEKNOFEST Target Buoy Green</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>ammar</name></author>
  <description>TEKNOFEST ASV tear-drop target buoy, RAL 6037 green, 30 cm diameter and 50 cm body height.</description>
</model>
