<?xml version="1.0"?>
<model>
  <name>TEKNOFEST Startpoint Black</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Gamantaray</name>
  </author>
  <description>
    Non-colliding black startpoint marker for TEKNOFEST ASV course layout.
  </description>
</model>
